@import 'reset.css';

.mainContainer {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.exploreContainer {
  display: grid;
  grid-template-columns: 1fr;
  padding: 40px;
  margin: auto;
}

.exploreContainer__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap : 10px;
}

.exploreContainer__item img {
  width: 100%;
}

@media screen and (max-width : 498px) {
    .mainContainer {
        grid-template-columns: 1fr;
      }

}

@media screen and (min-width : 498px) and (max-width : 768px) {

  .mainContainer {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width : 768px) and (max-width : 992px) {


}

@media screen and (min-width : 992px) {
}