.navMenu {
  background-color: white;
  height: 100%;
}

.nav {
  padding: 30px 24px 20px 24px;
  height: 100%;
  border-right: 1px solid rgb(219, 219, 219);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
}

.nav__menu__container li {
  margin-bottom: 25px;
}

.nav__menu__a img {
  width: 24px;
  margin-right: 10px;
}

.nav__menu__a span {
  color: black;
  position: relative;
  bottom: 6px;
  font-size: 18px;
  font-weight: 400;
}

.nav__menu__dropdownItem img {
  width: 24px;
}

.nav__more img {
  width: 24px;
  margin-right: 10px;
}

.nav__more__btn {
  background-color: white;
  border: none;
  position: relative;
  bottom: 45px;
}

.nav__more__btn:hover {
  cursor: pointer;
}

.nav__more__btn span {
  font-size: 16px;
  position: relative;
  bottom: 6px;
}

.nav__more__dropdownMenu {
  width: 140px;
  border: 1px solid rgb(219, 219, 219);
  padding: 12px;
  position: absolute;
  bottom: -500px;
  left: 30px;
  background-color: white;
  transition: all 0.5s ease;
}

.nav__more__dropdownMenu.show {
  position: absolute;
  bottom: 110px;
  transition: all 0.75s ease;
}

.nav__more__dropdownItem span {
  color: black;
}

.nav__more__dropdownItem img {
  position: relative;
  top: 6px;
}

.nav__more__li {
  margin-bottom: 10px;
  padding: 4px
}

.nav__more__li:hover {
  background-color: rgb(230, 230, 230);
}


.nav__more__li:last-child {
  margin-bottom: 6px;
}

/* 네브바텀 스타일링 */
.nav__bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: none;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  z-index: 10;
  background-color: white;
}

.nav__bottom img {
  width: 25px;
}

.navTop__sm {
  display: none;
  justify-content: space-around;
  padding: 12px 0px;
}

.navTop__notification img {
  width : 25px;
}

.navTop__right {
  display: flex;
  align-items: center;
}

.navTop__search {
  margin-right: 16px;
}

.navTop__search img {
  width: 20px;
  position: relative;
  left : 28px;
  top : 4px;
  opacity: 0.5;
}

.navTop__search input {
  background-color: rgb(250, 250, 250);
  border: none;
  padding : 12px;
  padding-left: 24px;
  border-radius: 4px;
  width : 220px;
}

.navTop__xm {
  display: none;
  justify-content: space-between;
  padding : 8px 24px;
}

.navTop__xm__search img,
.navTop__xm__notification img {
  width : 25px;
}

.navTop__xm__right {
  display: flex;
}

.navTop__xm__notification {
  margin-left: 4px;
}

@media screen and (max-width : 498px) {

  .navMenu {
    display: none;
  }

  .nav__bottom {
    display: flex;
  }

  .navTop__xm {
    display: flex;
  }
}

@media screen and (min-width : 498px) and (max-width : 768px) {

  .nav__bottom {
    display: flex;
  }

  .navMenu {
    display: none;
  }

  .navTop__sm {
    display: flex;
  }

}

/* @media screen and (min-width : 768px) and (max-width : 992px) {

}

@media screen and (min-width : 992px) {

} */